{% extends "layout.html" %}
{% block content %}
    <main class="page blog-post">
        <section class="clean-block clean-post dark">
            <div class="container">
                <div class="block-content">
                    <div class="post-image" style="background-image:url(&quot;static/img/gutter/brick_a.JPG&quot;);"></div>
                    <div class="post-body">
                        <h3>StoneCo. Downflo</h3>
                        <div class="post-info"></div>
                        <p>We are a family owned and operated do it all construction company providing service to the Collinsville & Greater Tulsa Area. We believe in giving back to the community that we live in, and strive for all of our clients to become like family!</p>
                        <figure class="figure"><img class="rounded img-fluid figure-img" src="static/img/gutter/brick_a.JPG" alt="A generic square placeholder image with rounded corners in a figure.">
                            <figcaption class="figure-caption">StoneCo. Downflo</figcaption>
                        </figure>
                        <h4>StoneCo. Downflo</h4>
                        <p>We are a family owned and operated do it all construction company providing service to the Collinsville & Greater Tulsa Area. We believe in giving back to the community that we live in, and strive for all of our clients to become like family!</p>
                        <div class="row">
                            <div class="col-md-6">
                                <figure class="figure"><img class="rounded img-fluid figure-img" src="static/img/gutter/brick_a.JPG" alt="A generic square placeholder image with rounded corners in a figure.">
                                    <figcaption class="figure-caption">StoneCo. Downflo</figcaption>
                                </figure>
                            </div>
                            <div class="col">
                                <p>We are a family owned and operated do it all construction company providing service to the Collinsville & Greater Tulsa Area. We believe in giving back to the community that we live in, and strive for all of our clients to become like family!&nbsp;</p>
                            </div>
                        </div>
                        <h4>StoneCo. Downflo</h4>
                        <p>We are a family owned and operated do it all construction company providing service to the Collinsville & Greater Tulsa Area. We believe in giving back to the community that we live in, and strive for all of our clients to become like family!</p>
                        <div class="row">
                            <div class="col">
                                <p>We are a family owned and operated do it all construction company providing service to the Collinsville & Greater Tulsa Area. We believe in giving back to the community that we live in, and strive for all of our clients to become like family!</p>
                            </div>
                            <div class="col-md-6">
                                <figure class="figure"><img class="rounded img-fluid figure-img" src="static/img/gutter/brick_a.JPG" alt="A generic square placeholder image with rounded corners in a figure.">
                                    <figcaption class="figure-caption">StoneCo. Downflo</figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endblock %}
