{% extends "layout.html" %}
{% block content %}
    <main class="page blog-post">
        <section class="clean-block clean-post dark">
            <div class="container">
                <div class="block-content">
                    <div class="post-image" style="background-image:url(&quot;static/img/complete/selfie2.png&quot;);"></div>
                    <div class="post-body">
                        <h3>{{ tup_1[1] }}</h3>
                        <div class="post-info"></div>
                        <p>{{ tup_1[2] }}</p>
                        <figure class="figure"><img class="rounded img-fluid figure-img" src="static/img/gutter/brick_a.jpg" alt="A generic square placeholder image with rounded corners in a figure.">
                            <figcaption class="figure-caption">StoneCo. Downflo</figcaption>
                        </figure>
                        <h4>{{ tup_2[1] }}</h4>
                        <p>{{ tup_2[2] }}</p>
                        <div class="row">
                            <div class="col-md-6">
                                <figure class="figure"><img class="rounded img-fluid figure-img" src="static/img/gutter/brick_a.jpg" alt="A generic square placeholder image with rounded corners in a figure.">
                                    <figcaption class="figure-caption">StoneCo. Downflo</figcaption>
                                </figure>
                            </div>
                            <div class="col">
                                <p>{{ tup_2[3] }}&nbsp;</p>
                            </div>
                        </div>
                        <h4>{{ tup_3[1] }}</h4>
                        <p>{{ tup_3[2] }}</p>
                        <div class="row">
                            <div class="col">
                                <p>{{ tup_3[3] }}</p>
                            </div>
                            <div class="col-md-6">
                                <figure class="figure"><img class="rounded img-fluid figure-img" src="static/img/gutter/brick_a.jpg" alt="A generic square placeholder image with rounded corners in a figure.">
                                    <figcaption class="figure-caption">StoneCo. Downflo</figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endblock %}
